#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height: 50px;
}

.navbar-brand {
    height: 60px;
    padding: 5px 0px;
}

.d3-tip {
    padding: 10px;
    background: black;
    color: white;
    opacity: 0.5;
}

.tooltip-wrapper {
    display: flex;
    flex-flow: column;
}

.circle-graphic {
    cursor: pointer;
}

.bold-tltp {
    font-weight: bold;
}

.tltp-content {
    color: red;
    text-transform: capitalize;
}

.canvas-container {
    margin-top: 40px;
    max-width: 800px;
}

.chart-enter {
    padding-top: 20px;
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

section.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type="range"]::-moz-focus-outer {
    border: 0;
}